<div class="tech-btm">
    <h4>Theo Dõi Thêm</h4>
    <div class="media">

        <img src="@Url.Content("~/Content/images/t4.jpg")" alt="" class="img-fluid">
        <div class="media-body">
            <h5 class="mt-0">Hữu trung</h5>
            <a href="#" class="btn btn-primary read-m">Theo Dõi</a>
        </div>
    </div>
    <div class="media">

        <img src="@Url.Content("~/Content/images/t4.jpg")" alt="" class="img-fluid">
        <div class="media-body">
            <h5 class="mt-0">Hữu trung</h5>
            <a href="#" class="btn btn-primary read-m">Theo Dõi</a>
        </div>
    </div>
    <div class="media">

        <img src="@Url.Content("~/Content/images/t4.jpg")" alt="" class="img-fluid">
        <div class="media-body">
            <h5 class="mt-0">Hữu trung</h5>
            <a href="#" class="btn btn-primary read-m">Theo Dõi</a>
        </div>
    </div>
</div>
