
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Trang Chủ</a>
    </li>
    <li class="breadcrumb-item active">Liên Hệ</li>
</ol>
<section class="main-content-w3layouts-agileits">

    <h3 class="tittle">Liên Hệ Với Chúng Tôi</h3>
    <p class="sub text-center">Theo địa chỉ,số điện thoại và mail ở dưới</p>
    <div class="contact-map inner-sec">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4514.294339458712!2d105.78758008328889!3d21.046143907574056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab31bef71d49%3A0x7de8c7694c4d2a00!2zMTcwIEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBD4buVIE5odeG6vywgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1571793570338!5m2!1svi!2s"
                class="map" style="border:0" allowfullscreen=""></iframe>
    </div>
    <div class="ad-inf-sec bg-light">
        <div class="container">
            <div class="address row">

                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Địa Chỉ</h6>
                            <p>
                               Hà Nội, VN

                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Email</h6>
                            <p>
                                Email :
                                <a href="https://mail.google.com/mail/u/2/#inbox"> huyhoang02101997@gmail.com</a>

                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>SĐT</h6>
                            <p>0964250559</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
