
<div class="container">
    <h3 class="tittle">Đăng Bài Viết</h3>
    <form action="#" method="post">
        <input class="form-control" type="text" name="title" placeholder="Tiêu đề bài viết" required="">
        <input class="form-control" type="file" name="file" placeholder="Chọn tệp" required="">
        <textarea class="form-control" name="content" placeholder="Viết gì đó..." required=""></textarea>
        <button type="submit" class="btn btn-primary submit">Đăng</button>
    </form>
</div>

