<div class="comment-top">
    <h4>Để lại một bình luận</h4>
    <div class="comment-bottom">
        <form action="#" method="post">
            <textarea class="form-control" name="content" placeholder="Nhận xét gì đó về bài viết..." required=""></textarea>
            <button class="btn btn-primary submit" type="submit"> Đăng </button>
            </form>
    </div>
</div>
